.box {
    width: 80%;
    margin: 60px auto 30px auto;
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}