@import url('./box.scss');

$primary-color: #cd0305;

#contact-form {
    width: 40%;
    margin: auto;

    label {
        font-size: 16px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgba(0, 0, 0, 0.605);
    }

    input,
    textarea {
        display: block;
        border: none;
        border-bottom: 1px solid #d9d9d9;
        width: 97%;
        margin-bottom: 10px;
        min-height: 25px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        padding: 2px 5px;

        &:focus {
            outline-color: rgba(131, 0, 0, 0.365);
        }
    }

    button {
        width: 100%;
        height: 30px;
        padding: 0 5px;
        margin: 5px auto 0 auto;
        border: 1px solid grey;
        border-radius: 5px;
        font-size: 15px;

        &:hover {
            color: #8a0205;
            border: 2px solid #8a0205;
            box-shadow: 0 0 15px 0 rgba(240, 13, 13, 0.5);
        }
    }
}


@media screen and (max-width: 420px) {
    #contact-form {
        width: 60%;
        margin: auto;

        button {
            height: 25px;
            font-size: 14px;
        }
    }
}