@import url('./box.scss');

$primary-color: #cd0305;

#project-box {
    background: white;
    padding-bottom: 20px;

    .project-section {
        width: 70%;
        background: rgb(205, 3, 5);
        background: linear-gradient(270deg, rgba(205, 3, 6, 0.105) 0%, rgba(255, 255, 255, 1) 59%);
        margin: 30px auto;
        display: flex;
        justify-content: space-evenly;
        padding: 40px 0;
        border-radius: 5px;

        .project-grid-item {
            display: inline-block;
            font-family: 'Red Rose', cursive;
            font-size: 20px;
            margin: 0 15px 0 30px;

            .project-title {
                font-size: 25px;
                margin-bottom: 0px;
            }

            .project-desc {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                margin-top: 7px;
                font-size: 20px;
                font-weight: lighter;
            }

            a {
                text-decoration: none;
                color: black;
                border: 2px solid black;
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 18px;

                &:hover {
                    color: #8a0205;
                    border: 2px solid #8a0205;

                    transform: scale(1.50);
                    box-shadow: 0 0 15px 0 rgba(240, 13, 13, 0.5);

                }
            }
        }

        .project-img {
            width: 330px;
            height: 230px;
            border-radius: 8px;
            margin: 0 0px 0 20px;
            box-shadow: 3px 3px rgba(128, 128, 128, 0.345);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 16px 0 rgba(9, 27, 46, 0.5);
            }
        }
    }
}

@media screen and (max-width: 1080px) and (min-width: 641px) {
    #project-box {
        .project-section {
            background: rgb(205, 3, 5);
            background: linear-gradient(0deg, rgba(205, 3, 6, 0.091) 0%, rgba(255, 255, 255, 1) 59%);
            display: block;
            text-align: center;
            padding: 15px 0;

            .project-img {
                margin: 0%;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    #project-box {
        .project-section {
            background: rgb(205, 3, 5);
            background: linear-gradient(0deg, rgba(205, 3, 6, 0.091) 0%, rgba(255, 255, 255, 1) 59%);
            display: block;
            text-align: center;
            width: 90%;
            padding: 15px 0;

            .project-grid-item {
                a {
                    text-decoration: none;
                    color: black;
                    border: 2px solid black;
                    border-radius: 5px;
                    padding: 3px 7px;
                    margin-bottom: 10px;
                    font-size: 15px;

                    &:hover {
                        color: #8a0205;
                        border: 2px solid #8a0205;
                        transform: scale(1.50);
                        box-shadow: 0 0 15px 0 rgba(240, 13, 13, 0.5);
                    }
                }
            }

            .project-img {
                margin: 0%;
                width: 300px;
                height: 200px;
            }
        }
    }
}


@media screen and (max-width: 420px) {
    #project-box {
        .project-section {
            display: block;
            width: 90%;
            padding: 5px 0 15px 0;

            .project-img {
                width: 240px;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    #project-box {
        .project-section {
            display: block;
            width: 90%;
            padding: 5px 0 15px 0;

            .project-grid-item {
                .project-title {
                    font-size: 23px;
                    margin-bottom: 0px;
                }

                .project-desc {
                    font-size: 17px;
                }
            }

            .project-img {
                margin: 0%;
                width: 200px;
                height: 150px;
            }
        }
    }
}